.separator {
  width: 100%;
  border-bottom: solid 1px;
  position: relative;
  margin: 10px 0px;
  border-color: #b8b8b8;
}

.separator-radio {
  width: 100%;
  border-bottom: solid 1px;
  position: relative;
  margin: 0px 0px;
  border-color: #b8b8b8;
}
